<div class="m-2">
    <h1>IDENTIFICATION USER</h1>
    <span>who are you?</span>
    <div>
      <button>
      <%= link_to 'User', new_user_path%>
      </button>
      <button>
      <%= link_to 'Admin', new_admin_path%>
      </button>
    </div>
</div>