<div class="w-full overflow-hidden">
  <div class="bg-red-700 flex h-24 justify-between text-white">
    <h1 class="pt-8 pl-4 font-bold">BOOK RENTING</h1>
  </div>
  <div>
    <h1 class="text-center underline pb-8 pt-4 font-bold">CREATE AN ACCOUNT</h1>
    <%= render partial: 'form', locals: {user: @user}, class:""%>
  </div>
  <div class="bg-black mt-8 h-16 ">
    <h1 class="pt-8 text-center text-white">© Tout droit réservé  TECHSHELTER 2021</h1>
  </div>
</div>